<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentación API</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="/script.js" async></script>
</head>
<body>
    <div class="contenedor-principal">
        <div class="contenedor-docs">
            <h2 class="titulo">Tu mejor amigo en casa - Docs</h2>
            <p><strong>Ruta base:</strong> <span class="ruta">http://localhost:3000/api</span></p>
            <p><strong>Descripción:</strong> API Restful de "Tu mejor amigo en casa" desarrollado en NodeJS</p>
            <div id="tables"></div>
        </div>
    </div>
</body>
</html>
